//Colors
$color-primary: #fff;
$color-secondary: #131313;
$color-tertiary: #757575;

//Fonts
$font-primary:  'Open Sans', sans-serif;

//Paddings
$padding-small: 2.5rem 0rem;
$padding-medium: 5rem 0rem;
$padding-large: 7.5rem 0rem;
$padding-extra-large: 10rem 0rem;

//Media Queries Breakpoints
$small-devices: 567px;
$medium-devices: 768px;
$large-devices: 992px;
$extra-large-devices: 1200px;
